<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Category
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card *ngFor="let list of catlist">
    <img src="{{list.snippet.thumbnails.medium.url}}" (click)="play(list.id.videoId)">
    <ion-card-content>
      {{list.snippet.title}} <br>
      <small>{{list.snippet.channelTitle}}</small>
    </ion-card-content>
  </ion-card>
</ion-content>