<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Youtube
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Popular Videos (IN)</ion-card-title>
    </ion-card-header>

  </ion-card>


  <ion-card *ngFor="let video of data">
    <img src="{{video.snippet.thumbnails.medium.url}}" (click)="play(video.id)">
    <ion-card-content>
            {{video.snippet.title}} <br>
      <small>{{video.snippet.channelTitle}}</small>
    </ion-card-content>
  </ion-card>




</ion-content>